.completed-form{
  min-height: 400px;
  img{
    position:absolute;
    top:0;
  }
}

@media (max-width: 650px) {
  .completed-form {
    min-height: 0px;
    img {
      position: relative;
      top: 0;
    }
  }
}