.side-navigation{
  background:#fff;
  border-left:1px solid #ddd;

  border-right: 1px solid #ddd;
  margin-bottom:.2em;
  h2{
    color:#fff;
  }
  .header{
    padding:10px 15px;
    background: #0065bc !important;
  }
}