.social-links{
  display: block;
  padding: 2px 0;
  list-style:none;
  text-align:inherit;
  li{
    display:inline-block;
    a{
      text-decoration: none;
      display:inline-block;
      margin-right: 10px;
    }
  }
}