.signin,
.register {
  background-color: #ffffff;

  .padded {
    padding: 0.8em 0;
  }
  .close-container {
    height: 4em;
    span {
      padding: 0.7em 0.3em;
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      text-transform: none;
      color: darkred;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
      }
    }
  }
  .signin-logo {
    width: 150px;
    margin: auto;
    .link-container {
      padding: 0.5em 0.2em;
    }
  }
  .connect-text {
    color: #555;
  }
  .signup-buttons {
    ul {
      list-style: none;
      padding: 0;
      margin: auto;
      li {
        display: inline-block;
        padding: 0.25em;
        button {
          padding: 0.8em;
        }
      }
    }
  }
}
