.program-viewer {
  .share-container {
    background: #e7e7e7;
    padding: 1em 0.5em;
  }
  .program-viewer-container {
    padding-bottom: 1em;
    .program-header {
      padding: 10px 15px;
      background: #0065bc !important;
    }
    .program-title {
      padding: 10px 15px;
      .program-logo {
        padding-top: 5px;
        width: 80px;
      }
    }
  }
}
