.program-viewer{
  .program-viewer-container {
    .program-header{
      padding:10px 15px;
      background: #0065bc !important;
    }
    .program-title{
      padding:10px 15px;
      .program-logo{
        padding-top:5px;
        width:80px;
      }
    }
  }

}