.live-video{
  .video-details{
    height:55px;
    background:#222;
    .live-tab{
      display: inline-block;
      height:inherit;
      color: white;
      background: red;
      text-transform: uppercase;
      font-weight:bold;
      font-size:30px;
      line-height:55px;
      padding:0 8px;
    }
    .live-details{
      display: inline-block;
      height: inherit;
      font-size:14px;
      color: white;
      line-height:22px;
      padding: 5px 20px;
      vertical-align: top;
    }
  }
}