@import './../../../node_modules/react-datepicker/dist/react-datepicker.css';
@import './../../../node_modules/slick-carousel/slick/slick.css';
@import './../../../node_modules/slick-carousel/slick/slick-theme.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Muli', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  overflow-y: scroll;
  color: #111;
  outline: 0;
  letter-spacing: 0.02em;
  background: #ddd;
  height: 100%;
}

.layout {
  position: relative;
}

img,
object,
embed {
  display: block;
  max-width: 100%;
  height: auto;
}

.page {
  .white-bg {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.no-padding {
  padding: 0;
}

.no-border-radius {
  border-radius: 0;
}

.btn-primary {
  background: #0065bc !important;
  color: #fff;
  a {
    color: #fff !important;
  }
}

.btn-primary a:hover,
.btn-primary a:focus,
.btn-primary:hover,
.btn-primary:focus {
  color: #fff !important;
  a {
    color: #fff !important;
  }
}

.btn-default {
  border: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  &.show {
    a {
      color: #fff !important;
      position: relative;
    }
  }
}

.btn-secondary {
  background: transparent;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  color: #fff !important;
  text-align: left;
  a {
    color: #fff !important;
  }

  &.show {
    a,
    div {
      color: #fff !important;
      position: relative;
      font-weight: bold;
    }
  }

  &.show:after {
    content: '';
    position: absolute;
    width: 20px;
    bottom: 9px;
    background: #fff;
    height: 2px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.btn-secondary:hover,
.btn-secondary:focus {
  background: transparent;
  border: 1px solid #3d424f;
  color: #fff;
  a {
    color: #fff;
  }
}

.list-container {
  min-height: 400px;
  .heading {
    h2 {
      text-transform: none;
      color: #333 !important;
    }
  }
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em; }
img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
  /* optional rounded corners for browsers that support it */
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}

h2,
h1,
h3,
h4 {
  font-weight: bold;
}

h2 {
  font-weight: 900;
  font-size: 2.9rem;
  line-height: normal;
}

h3 {
  font-weight: 900;
  font-size: 1.1em;
}
h4 {
  font-weight: 900;
  color: #fff;
  font-size: 1em;
}
p {
  margin: 0 0 12px;
  clear: both;
}

b,
strong {
  font-weight: 900;
  color: inherit;
}

ul {
  li {
    font-size: inherit;
  }
}

/* FORMS
================================================== */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
textarea,
select {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 13px;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'] {
  padding: 0 25px;
  height: 50px;
}

.row-fluid input[type='text'],
.row-fluid input[type='password'],
.row-fluid input[type='email'],
input[type='tel'],
.row-fluid textarea {
  padding: 0 25px;
  width: 100%;
  box-shadow: none;
}

textarea {
  background: #fff;
  padding: 25px;
}

select {
  padding: 16px;
  height: auto;
  background: #ededed;
  border-radius: 4px;
}

label,
legend {
  display: block;
}

legend {
  margin-bottom: 1em;
}

input#verify {
  margin-top: 1em;
  margin-bottom: 0;
}

input[type='checkbox'] {
  display: inline;
}

form .error {
  color: #bc0000;
}

img {
  max-width: 100%;
}

a,
img {
  outline-width: 0 !important;
}

a:link,
a:visited {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

a:hover,
a:active {
  text-decoration: underline;
}

/*** buttons ***/
.btn {
  padding: 10px 25px;
  text-transform: uppercase;
}

.btn.active,
.btn:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

.btn-large {
  padding: 22px 40px;
  font-size: 22px;
}

.btn-small {
  padding: 10px 20px;
  font-size: 12px;
}

.btn-mini {
  padding: 0px 6px;
  font-size: 10px;
}

.btn-link {
  text-transform: none;
  text-shadow: none;
  padding: 0;
}

.btn i {
  margin-right: 0.5em;
}

.row {
  margin: 0px;
}

/*** Modals ***/
.page-modal {
  .btn-secondary {
    color: #fff;
    background: #999;
  }
  .field {
    margin: 1em 0;
    border: 1px solid #ccc;
  }
  .modal-header {
    width: 100%;
    position: relative;
    height: 90px;
    padding: 10px;
    border: 0;
    border-radius: 0;
    background: whitesmoke;
    img {
      display: inline-block;
      height: 65px;
    }
    div.header-title {
      display: inline-block;
      font-size: 21px;
      color: #ddd;
      text-align: center;
    }
    .brand-text {
      padding-left: 10px;
      font-weight: normal;
      color: #eee;
    }
    .close {
      color: #333;
      opacity: 0.4;
    }
  }

  .modal-body {
    background: #fff;
  }
  .modal-footer {
    background: #fff;
    border: 0;
  }
  .modal-dialog {
    min-height: 600px;
    .modal-content {
      border: 0;
      border-radius: 0;
    }
    h3 {
      color: #444;
    }
  }
  .btn-secondary {
    color: #fff;
    background: #999;
  }

  .footer-buttons:after {
    content: ' ';
    display: block;
    clear: both;
  }
  .footer-buttons {
    padding: 0 15px;
  }

  .errors,
  .no-errors {
    color: darkred;
    font-size: 11px;
    padding: 0.1em 0 0.2em;
  }
}

.mobile {
  display: none;
}

.no-uppercase {
  text-transform: none;
}

.sub-title {
  color: #444;
  font-size: 1em !important;
  text-transform: none;
}

@media (max-width: 1200px) {
  .list-container {
    padding-bottom: 5em;
  }
  .btn-secondary {
    &.show {
      display: inline-block !important;
    }
    &.show:after {
      background: transparent;
    }
  }
}

@media (max-width: 768px) {
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='tel'],
  textarea,
  select {
    font-size: 16px;
  }
  .page-modal {
    .modal-header {
      height: 50px;
      div.header-title {
        display: none;
      }
      img {
        display: inline-block;
        height: 30px;
      }
      .brand-text {
        font-size: 8px;
        padding-left: 5px;
      }
    }
  }
  .mobile {
    display: block;
  }
  .no-mobile {
    display: none;
  }
  h2 {
    font-size: 2.3rem;
    padding: 0;
    margin: 1rem 0;
  }

  .btn-secondary {
    li {
      border: 0;
      a {
        background: #0065bc;
        border: 0;
        span {
          color: #fff;
        }
      }
    }
    &.show {
      display: inline-block !important;
    }
    &.show:after {
      background: transparent;
    }
  }
}
