header{
  height:4px;
  background:#1a7ff1;
  .overlay{
    width:100%;
    height:100%;
    position:fixed;
    top:4px;
    bottom:0;
    left:0;
    right:0;
    background:#fff;
    z-index: 1000;
    opacity:.2;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  }
}