.header {
  .main-container {
    padding: 0 !important;
    background: #0065bc;
  }
  .navbar-collapse {
    padding: 0;
  }
  .navbar-header {
    padding: 0;
  }
  .navbar-class {
    margin: 0;
    border-radius: 0;
    background: #0065bc;
    border: 0;
    height: auto !important;
    z-index: 100;
  }
  .donate-btn {
    padding: 0 0.5em;
    margin: 0.6em 0;
    border-radius: 8px;
    a {
      padding: 0 0.7em !important;
    }
    a:hover,
    a:visited,
    a:focus {
      border-radius: 5px;
    }
    &.show:after {
      display: none !important;
    }
  }

  .default-icon {
    vertical-align: middle !important;
    margin: 0 5px;
    padding-bottom: 2px;
    color: white;
  }
  .navbar-header-class {
    padding-left: 1em;
    width: 100%;
  }
  .top-logo {
    display: inline-block;
    vertical-align: top;
  }
  .navbar-brand-class {
    width: 140px;
    height: auto !important;
    padding: 10px 10px 0 0 !important;
    margin: 0 !important;
  }
  .brand-details {
    display: inline-block;
    color: #ddd;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 15px;
    .brand-text {
      padding: 10px 5px;
    }
  }
  ul.brand-social {
    display: block;
    padding: 10px 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .nav-collapse {
    padding: 0;
  }
  ul.top-navigation,
  ul.user-admin {
    margin: 0px;
    float: right;
    .btn {
      padding: 1px 2px;
      border: 0;
      &.login {
        a {
          padding: 0 2em;
          color: #fff;
        }
      }
      &.register {
        a {
          border: 0;
          padding: 0.5em 2em;
          color: #fff;
        }
      }

      a {
        padding: 0.5em 0.9em;
        line-height: 40px;
      }
    }
    .btn-default {
      background: darkgreen;
    }
    &.left-links {
      padding: 0;
      li {
        font-size: 15px;
        border-radius: 0;
        margin-right: 1px;
        &.dropdown {
          border: 0;
          .dropdown-toggle {
            background: #0065bc;
            box-shadow: none;
          }
          .dropdown-menu {
            border-radius: 0;
            box-shadow: none;
            padding: 0;
            margin: 0;
            li {
              clear: both;
              width: 100%;
              text-align: left;
              position: relative;
              padding: 0;
              margin: 0;
              a {
                line-height: initial;
                display: block;
                color: #337ab7 !important;
                font-weight: normal;
              }
            }
            li:after {
              content: '';
              position: absolute;
              bottom: 0;
              height: 1px;
              width: 100%;
              background: #ddd;
            }
            li:last-child:after {
              height: 0;
            }
          }
        }
      }
    }
    &.blue-bg {
      background: #0065bc;
    }
    &.right-links {
      padding-right: 14px;
    }
  }
  ul.user-navigation {
    margin: 0px;
    float: right;
    a {
      padding: 0;
      .user-name {
        display: inline-block;
        padding-right: 15px;
        color: #fff;
        padding-top: 5px;
        vertical-align: middle;
      }
      .user-icon-container {
        display: inline-block;
        border-radius: 100%;
        margin-right: 10px;
        margin-top: 5px;
        background: #f7f7f7;
        padding: 3px;
        width: 35px;
        height: 35px;
        vertical-align: middle;
        text-align: center;
        .user-icon {
          margin: auto;
        }
      }
      .circular-img {
        border-radius: 100%;
      }
      .down-arrow {
        display: inline-block;
        margin-right: 15px;
      }
    }
  }

  ul.user-admin {
    li {
      display: inline-block;
      .search-btn-icon {
        border-radius: 50%;
        background: #fff;
        padding: 0.8em;
        margin: 5px;
        border: 1px solid #555;
      }
      &.search-btn {
        padding: 2px !important;
        a {
          padding: 0 !important;
        }
        .gradient {
          position: fixed;
          top: 0;
          left: 0;
          background: rgba(3, 3, 3, 0.5);
          width: 100%;
          height: 100%;
          z-index: 500;
        }
        .search-container {
          position: absolute;
          right: 0;
          top: 8px;
          width: 290px;
          background: #fff;
          border-radius: 4px;
          .search-input {
            display: inline-block;
            vertical-align: middle;
            float: none !important;
            .search-form {
              padding-bottom: 0;
              color: #111;
              .react-form .form-fields {
                padding-top: 2px !important;
              }
            }
          }
          .search-icon-container {
            float: none !important;
            display: inline-block;
            vertical-align: middle !important;
            background: transparent !important;
            .search-icon {
              margin: 0 5px;
              padding-bottom: 2px;
              color: white;
            }
          }
          z-index: 550;
        }
      }
      a {
        position: relative;
        span {
          font-size: 14px !important;
          padding-left: 2px;
        }
      }
    }
  }

  .bottom-nav {
    background: #0065bc;
    clear: both;
    .nav-tabs {
      padding: 0;
      margin-left: 1em;
      border-bottom: 0;
      .nav-item:first-child {
        border-left: 0;
      }
      li.nav-item {
        margin: 0;
        border-left: 1px solid #192032;
        font-size: 0.8em;
        a {
          padding: 1em 2em;
          color: #fff;
          border: 0;
          border-radius: 0;
          margin: 0;
          text-transform: uppercase;
        }
        a:hover {
          background: #23272e;
          color: #fff;
        }
        &.active {
          a {
            background: #23272e;
            border: 0;
            color: #fff;
          }
        }
      }
    }
  }
  ul {
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1170px) {
  .header {
    .donate-btn {
      padding-top: 8px !important;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
      background: #0065bc !important;
      border: 0;
      span {
        font-weight: normal !important;
        color: #fff;
      }
    }
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
      background: transparent;
    }
    .nav-toggle {
      display: inline-block;
      padding-left: 5px;
      padding-right: 0;
      border: 0;
    }
    .navbar-header-class {
      padding-left: 0;
    }
    .navbar-header {
      float: none;
      margin: 0 !important;
    }
    .navbar-class {
      height: 155px !important;
    }
    .navbar-brand-class {
      width: 100px;
      padding: 10px !important;
    }
    .brand-details {
      font-size: 10px;
      .brand-text {
        padding: 12px 5px 0;
      }
    }
    .navbar-left,
    .navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in {
      display: block !important;
    }

    .navbar-class {
      border: 0;
      z-index: 100;
      height: 75px;
    }

    ul.top-navigation,
    ul.user-admin {
      float: none !important;
      padding-left: 1em;
      &.left-links {
        padding: 0;
        margin: 0;
        li {
          margin: 0;
          padding: 0;

          &.dropdown {
            .dropdown-menu {
              position: relative;
              margin: 0;
              border: 0;
              li {
                a {
                  padding: 10px;
                  padding-left: 15px;
                  color: #8ff5ff !important;
                  font-weight: normal !important;
                }
              }
              li:after {
                height: 0;
              }
            }
          }
        }
      }
      .btn {
        margin: 0;
      }
      &.right-links {
        padding: 0;
        a {
          text-align: left;
          padding: 10px 15px;
        }
        .btn.register a {
          padding: 10px 15px;
        }
        .btn.login a {
          padding: 10px 15px;
        }
      }
    }

    ul.user-admin {
      clear: both;
      padding: 5px 0 0 10px;
      width: 100%;
      li {
        display: inline-block;
        .search-btn-icon {
          margin: 2px 10px;
        }
      }
    }
    .bottom-nav {
      .nav-tabs {
        margin: 0;
        padding: 0;
        padding-left: 14px;
        li.nav-item {
          display: block;
          clear: both;
          border: 0;
          width: 100%;
          a {
            padding: 10px 0px;
            display: block;
          }
        }
      }
    }
  }
}
