.register-form {
  padding-bottom: 1em;
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='tel'],
  textarea,
  select {
    padding: 0 10px;
    height: 40px;
  }
  .errors {
    color: orangered;
  }
  .next-btn {
    float: none !important;
    margin: auto !important;
    display: inherit;
  }
}
