.pricing-plans{
  padding:2em 0;
  table {
    width:100%;
    border-collapse: separate;
    border-spacing: 1px 0;
  }
  .vcenter:first-child{
    border-left:1px solid #eee;
  }
  .vcenter{
    padding-left:0px;
    margin-left:15px;
    border-bottom:1px solid #eee;
    border-right:1px solid #eee;
    &.header-container, &.top-header{
      position: relative;
      border:0;
    }
  }
  .plan-container{
    padding: 0;
    .plan-details{
      display:block;
      padding: 1em 2em;
      font-size:.8em;
      &.plan-name, &.plan-price{
        padding:1.5em 2em;
        font-size: 1.2em;
        font-weight:bold;
        border: 0;
      }
      &.plan-name{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.2em;
        font-weight:900;
      }
      &.plan-price{
        padding:0 2em 1.5em 2em;
      }
      .buy-btn{
        display: inherit;
        width: 120px;
        margin:auto;
      }
    }
  }
  .pricing-details{
    margin-top:2em;
    padding:2em;
    background: #111;
    color:#fff;
    .pricing-detail-header{
      text-transform: uppercase;
    }
    .pricing-detail-content, .pricing-detail-action{
      padding-top:1em;
    }
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .pricing-plans {
    table {
      padding-bottom:2em;
    }
  }
}